/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

header {
  background-color: #333;
  padding: 1rem;
  color: white;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  padding: 10px;
  background-color: #ddd;
}

a:hover {
  background-color: #ccc;
}
