body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.cv-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background-color: #1c1f2a;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cv-header {
  background-color: #1c1f2a;
  color: #e0e0e0;
  padding: 20px;
  text-align: center;
  top: 0;
  z-index: 100;
  width: 100%;
  margin-left: -20px;
}

.cv-header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #c94074;
}

.cv-header p {
  margin: 5px 0;
  font-size: 1rem;
}

.cv-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cv-links a {
  text-decoration: none;
  color: #c94074;
  font-size: 1.2rem;
}

.cv-links a:hover {
  text-decoration: underline;
  color: #a7315d;
}


.cv-card {
  background-color: #2a2e3d;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.7rem;
  color: #e0e0e0;
  border-bottom: 2px solid #c94074;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #c94074;
}

section ul {
  list-style: none;
  padding-left: 0;
}

section ul li {
  font-size: 1rem;
  line-height: 1.5;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
}

.project, .job {
  margin-bottom: 15px;
}

.project h3, .job h3 {
  font-size: 1.3rem;
  color: #c94074;
}

.project p, .job p {
  font-size: 1rem;
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

ul li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .cv-container {
    padding: 10px;
  }

  .cv-header h1 {
    font-size: 2rem;
  }

  .cv-links a {
    font-size: 1rem;
    margin: 0 10px;
  }

  section h2 {
    font-size: 1.5rem;
  }

  section ul li {
    font-size: 0.9rem;
  }

  .project h3, .job h3 {
    font-size: 1.1rem;
  }
}

html {
  scroll-behavior: smooth;
}
